$primary-color: rgb(223, 92, 5);
$duration_color: rgb(189, 80, 80);
$header-font: 'Saira Extra Condensed', sans-serif;
$text-font: 'ZCOOL XiaoWei', serif;
$subheading-font: 'Ubuntu', sans-serif;


*{
    padding: 0;
    margin: 0;   
}
//NAVBAR

//ANIMATION

.animated.delay{
    @for $i from 1 through 10{
        &:nth-child(#{$i}){
    -webkit-animation-delay: #{$i * .1}s;
    animation-delay: #{$i * .1}s;
        }
    }
}

nav{
    width: 23vw;
    height: 100vh;
    position: fixed;
    display: flex;
    text-align: center;
    background: $primary-color;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    
    li{
        list-style: none;
        line-height: 1.5rem !important;
    }
    a{
        display: inline-block;
        text-decoration: none !important;
        color: rgba($color: white, $alpha: .7);
        margin: 1rem;
        font-size: 1.5rem;
        font-family: $subheading-font;
        &:hover{
            cursor: pointer;
            color: white;
        }
        &.active{
            color: white;
        }
    }
}

//BIO

.bio{
    display: inline-block;
    margin-left: 27vw;
    overflow-x: hidden;
    
    .name{
        
        font-size: 10rem;
        
        margin-top: 18vh;
        letter-spacing: 3px !important;
        font-family: $header-font;
        font-weight: 900;

    }

    .addr{
        margin-top: 0rem !important;
        font-size: 2rem;
        font-weight: 500;
        font-family: $subheading-font;
        color: rgba($color: black, $alpha: .5);
    }

    .para{
        margin-top: 8vh;
        font-family: $text-font;
        font-size: 1.5rem;
        color: rgba($color: black, $alpha: .5);
    }
}
span
{
    color: $primary-color;
}

//FOOTER

.footer{
    margin-left: 27vw;
    margin-top: 7vh;
    margin-left: 50vw;
    color: rgba($color: black, $alpha: .5);
    
    i{
        margin-right: 1.5vw;
        &:hover{
            color:$primary-color;
            cursor: pointer;
        }
    }

   
}


//EXPERIENCE

//XP details

.xp{
    display: inline-block;
    margin-left: 28vw;
    margin-top: 10vh;
    margin-bottom: 20vh;

    .xp-heading{
        font-family: $header-font;
        font-size: 6rem;
        font-weight: 600;
    }
    .xp-details{
        .xp-subheading{
            font-family: $subheading-font;
            font-size: 2rem;
            margin-top: 8vh;

            font-weight: 700;

        }

        .org{
            font-family: $subheading-font;
            font-size: 1.5rem;
            margin-top: 1vh;
            font-weight: 500;
            color: rgba($color: black, $alpha: .7);
        }

        .dur{
            font-family: 'Courier New', Courier, monospace;
            font-weight: 500;
            color: $duration_color;
            font-size: 1.5rem;
            margin-top: 1.5vh;
        }

        .details{
            width: 60vw;    
            font-family: $text-font;
            margin-top: 5vh;
            padding-bottom: 8vh;
            color: rgba($color: black, $alpha: .5);
            font-size: 1.5rem;
            letter-spacing: 2px;

        }
        
    }
}


//SKILLS

.skills{
    margin-left: 28vw;
    display: inline-block;
    margin-top: 10vh;

    .skills-heading{
        font-family: $header-font;
        margin-bottom: 3vh;
        font-size: 6rem;
        font-weight: 600;
    }

    .skill-subheading{
        font-family: $subheading-font;
        font-size: 2rem;
        margin-top: 8vh;
        font-weight: 700;
        color: rgba($color: black, $alpha: .5);
    }

    .skill-details{
        display: flex;
        margin-top: 3vh;
        line-height: 0 !important;
        padding: 0 !important;
        color: rgba($color: black, $alpha: .5);
        font-size: 5rem;

        .skill-items{
             margin-right: 30px;    
            margin-bottom: 5vh;
        }
        :hover{
            color: $primary-color;
            cursor: pointer;
        }

    }

    .language{
            display: flex;    
            font-family: $text-font;
            margin-top: 5vh;
            padding-bottom: 8vh;
            color: rgba($color: black, $alpha: .5);
            font-size: 1.5rem;

            .lang-itmes{
                display: inline-block;
                margin-right: 20px;
            }
    }

}

//CONTACT

.contact-div{
    margin-left: 28vw;
    display: inline-block;
    margin-top: 10vh;

    .contact-heading{
        font-family: $header-font;
        margin-bottom: 12vh;
        font-size: 6rem;
        font-weight: 600;
        letter-spacing: 2px;
    }
    
    .email{
        font-family: $subheading-font;
        color: rgba($color: black, $alpha: .5);
        margin-bottom: 7vh;
        font-size: 2rem;

        .space-email{
                margin-right: 60px;
            } 
            
        .space-ph{
            margin-right: 35px;
        }
        .space-addr{
            margin-right: 10px; 
        }
        }
    }


    //Interests

    .interests-div{

        margin-left: 28vw;
        display: inline-block;
        margin-top: 10vh;

        .interests-heading{
        font-family: $header-font;
        margin-bottom: 3vh;
        font-size: 6rem;
        font-weight: 600;
        }

        .interest-details{
            font-family: $text-font;
            font-size: 1.5rem;
            max-width: 60vw;
            color: rgba($color: black, $alpha: .5);
            margin-top: 10vh;
        }
    }


    //PROJECTS

    .project-div{
        margin-left: 28vw;
        display: inline-block;
        margin-top: 10vh;
        .project-heading{
            font-family: $header-font;
        margin-bottom: 3vh;
        font-size: 6rem;
        font-weight: 600;
        }
        .project-details-div{
            .project-subheading{
                font-family: $subheading-font;
                font-size: 2rem;
                margin-top: 8vh;
    
                font-weight: 700;
            }
    }


    .project-firm   {
        font-family: $subheading-font;
        font-size: 1.5rem;
        margin-top: 1vh;
        font-weight: 500;
        color: rgba($color: black, $alpha: .7);
    }

    .dur{
        font-family: 'Courier New', Courier, monospace;
        font-weight: 500;
        color: $duration_color;
        font-size: 1.5rem;
        margin-top: 1.5vh;
    }

    .details{
        width: 60vw;    
        font-family: $text-font;
        margin-top: 5vh;
        padding-bottom: 8vh;
        color: rgba($color: black, $alpha: .5);
        font-size: 1.5rem;
        letter-spacing: 2px;

    }
}

